* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", "Verdana", "Avenir Next", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  padding-left: 10px;
}

nav a {
    font-weight: normal;
    color: black;
    text-decoration: none;
    padding: 5px;
    margin: 5px;
}

nav a.active {
    font-weight: bold;
}

body {
  background-color: #00bf7d;
}

h1, h2, h3, h4 {
  font-weight: bold;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

.article {
  padding: 16px;
}

.img {
  max-width: 100%;
  height: auto;
  border-radius: 16px;
}

.home-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
  margin: 16px;
}

.home-grid__item {
  overflow: hidden;
  border-radius: 16px;
}

.home-grid__img-container {
  position: relative;
  overflow: hidden;
  border-radius: 16px;
}

.home-grid__img-container img {
  max-width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.home-grid__img-container img:hover {
  transform: scale(1.1);
}

.captioned-img {
  display: flex;
  flex-direction: column;
  margin: 16px 0;
  border-radius: 16px;
  background-color: hsl(219, 30%, 89%);
}

.captioned-img__img-container {
  position: relative;
  overflow: hidden;
  min-height: 96px;
  max-height: 408px;
}

.captioned-img__img-container img {
  max-width: 20%;
  height: auto;
}

.captioned-img__caption {
  padding: 16px;
  background-color: hsl(219, 30%, 89%);
}
